<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <logger name="org.docero.data" level="DEBUG"/>
    <logger name="org.docero.data.view" level="DEBUG"/>
    <logger name="org.docero.data.remote" level="TRACE"/>
    <logger name="org.mybatis" level="INFO"/>
    <logger name="org.springframework.web.socket.sockjs.SockJsTransportFailureException" level="OFF"/>
    <logger name="org.springframework.web.socket.server.support.DefaultHandshakeHandler" level="OFF"/>
    <logger name="org.springframework.scheduling.support.TaskUtils$LoggingErrorHandler" level="OFF"/>
    <logger name="org.springframework.web.socket.messaging.SubProtocolWebSocketHandler" level="OFF"/>

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>